<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me Project for fun</title>

</head>
<body>

    <h1 class="title">Main Menu</h1>

    <ul>
        <li><a href="/form">Insert About Me</a></li>
        <li><a href="/editor">Go to the About Me Editor</a></li>
    </ul>

    <hr>
    <form class="searching-form" action="/search" method="get">
        <label>
            <input type="text" name="username" placeholder="Search for...">
        </label>
        <button class="searching-button" type="submit">Search</button>
    </form>

</body>
</html>