<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        <!-- Username -->
        <label for="username">Username:</label> <br>
        <input name="username" type="text" id="username" placeholder="Username" required>
        <br><br>

        <!-- Password -->
        <label for="password">Password:</label> <br>
        <input name="password" type="password" id="password" placeholder="Password" required>
        <br><br>

        <!-- Field Name -->
        <label for="field-head">Field Head:</label> <br>
        <input type="text" name="field-head" id="field-head" placeholder="Filed Head" required>

        <br><br>

        <!-- Finalize Button -->
        <button type="submit">Remove</button>
        <button type="reset">Reset</button>

        <br><br>

        <form>
            <button type="button" onclick="window.history.back();">
                Go Back
            </button>
        </form>
    </form>
</body>
</html>